
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

html, body {
  margin: 4;
  padding: 4;
  background: #000;
  color:#250;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 5rem;
  margin-top: 05rem;

}
   
a {
color:#f00;
text-decoration:none;
transition:all ease 1s;

}

.xmas {font-family: pinyon-script-regular;
  color:#400;
  margin-left: 5rem;
  margin-top: 05rem;}

a:hover {
  color:c55;
  text-decoration:underline;
  transition:all ease 1s;

}

main{
  margin:5rem;
  background:rgba(255, 255, 255,.2);
  border-radius:1rem;
  box-shadow:0 0 05px white;
  margin-left: 5rem;
  margin-top: 05rem;
}

h1 {
  margin-left: 5rem;
  margin-top: 05rem;
  font-family:"pinyon-script-regular", serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(3rem + 5ww);
}

canvas {
  display: block;
}
